{% extends "base.html" %}

{% block content %}
    <h1>Search Tasks</h1>
    <hr>
    <form method="GET" action="#">
        <input type="hidden" name="controller" value="tasks">
        <input type="hidden" name="action" value="search">
        <div class="row">
            <label for="=search_name">Name:</label>
            <input class="form-control" type="text" name="search_name" value="{{ search_name }}">
        </div>
        <br>
        <div class="row">
            <label for="search_subject_id">Subject:</label>
            <select name="search_subject_id">
                <option disabled selected value> -- All -- </option>
                {% for subject in subjects %}
                    {% if (subject.id == search_subject_id) %}
                        <option value="{{ subject.id }}" selected>{{ subject.name }} (id {{ subject.id }})</option>
                    {% else %}
                        <option value="{{ subject.id }}">{{ subject.name }} (id {{ subject.id }})</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <br>
        <div class="row">
            <input class="btn btn-default" type="submit" value="Search">
        </div>
    </form>
    <br>
    <h3>Search results:</h3>
    {% include "Tasks/tasks_list.html.twig" %}
{% endblock %}