<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>E-mail</th>
        <th>Tel.</th>
        <th>Department</th>
        <th>University</th>
        <th>Actions</th>
    </tr>
    {% for student in students %}
        <tr>
            <td>{{ student.id }}</td>
            <td>{{ student.first_name }} {{ student.last_name }}</td>
            <td>{{ student.email }}</td>
            <td>{{ student.tel }}</td>
            <td>{{ student.department_name }}</td>
            <td>{{ student.university_name }}</td>
            <td><a href="index.php?controller=students&action=edit&id={{ student.id }}">edit</a> <a href="index.php?controller=students&action=delete&id={{ student.id }}">delete</a></td>
        </tr>
    {% endfor %}
</table>
<a href="index.php?controller=students&action=new">Add a new student</a>